{{/* overrides the default home_info.html template */}}

{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <!-- <h1>{{ .Title | markdownify }}</h1> -->
        <h1 id="custom-title">~$ <span id="whoami"></span></h1>
    </header>
    
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>

<!-- Load library from the CDN -->
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

<!-- Setup and start animation! -->
<script>
const typed = new Typed('#whoami', {
    strings: ['id -un', 'whoami'],
    typeSpeed: 80,
    backSpeed: 40,
    startDelay: 1000,
    backDelay: 500,
    cursorChar: ' ▌',
});
</script>
{{- end -}}

